:root {
  --primaryColor: black;
  --secondaryColor: white;
}

* {
  box-sizing: border-box;
  border: 1px solid green;
}
@font-face {
  font-family: openSanse;
  src: url("./font/OpenSansRegular-409ed3007d.woff2");
}
body {
  font-family: openSanse, sans-serif;
  font-size: 15px;
}
body,
html {
  overflow: visible; /* Ensure no overflow restrictions */
}

/* ****************************************** */
/* general */

.btn {
  margin: 10px 0 0 10px;
}
.btn-primary {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}
h1 {
  font-weight: 900;
  font-size: 25px;
  margin: 20px 0px;
}

h4 {
  font-weight: 900;
  font-size: 18px;
  margin: 10px 0px;
}
p {
  margin: 10px 0px;
}
.price {
  margin: 10px 0;
}
.price .price-old {
  text-decoration: line-through;
  font-size: 20px;
}
.price .price-new {
  font-size: 20px;
  color: green;
  font-weight: 900;
}
.price .price-off-precentage {
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 5px;
  padding: 3px;
}
/* ****************************************** */
/* header */
header {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  padding: 20px 0px;
  text-align: center;
  position: sticky;
  top: 0;
}

/* ****************************************** */
/* header */

.navigation {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.navigation-section1 ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation-section1 ul li {
  margin-right: 20px;
  margin-top: 10px;
}
.navigation-section2 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 10px 0;
}
.navigation-section2 .nav-sec2-subSec1 img {
  width: 150px;
  background-color: var(--primaryColor);
}
.navigation-section2 .nav-sec2-subSec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-section2 .nav-sec2-subSec2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-section3.searchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation-section3.searchBox input {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 10px 0;
  width: 500px;
  text-align: center;
}

@media (max-width: 600px) {
  .navigation-section1 ul {
    display: none;
  }
  .btn-primary {
    display: none;
  }
  .navigation-section3.searchBox input {
    width: 300px;
  }
}
/* *********************************** */
/* greenBar */
.green-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 252, 234);
}
.green-bar p {
  text-align: center;
  width: 300px;
  color: darkgreen;
  font-size: 13px;
  font-weight: 900;
}
.green-bar-vertical-line {
  height: 27px;
  width: 1px;
  background-color: rgb(143, 142, 145);
  margin: 20px 60px;
}
/* *********************************** */
.container {
  max-width: 70%;
  margin: 0 auto;
  overflow-x: none;
}
/* *********************************** */
.section1-allCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.section1-allCards .card img {
  width: 100%;
  border-radius: 15px;
}
/* ********************************** */
.section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: 20px 0;
}

.section2 img {
  width: 100%;
  height: 200px;
}
/* ********************************** */

.section3-allCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.section3-allCards .card img {
  width: 100%;
  border-radius: 20px;
}

/* ********************************** */
footer {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  margin-top: 50px;
  padding-top: 20px;
  height: auto;
}

.footer-sec ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: flex-start;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .footer-sec ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 960px) {
  .footer-sec ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .footer-sec ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-sec ul li {
  margin: 10px;
}
